*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)),
    url("./images/register.jpeg");
    background-size: cover;
    background-position: center;
}

.container{
    width: 900px;
    height: 550px;
    display: flex;
    background: #111;
    border-radius: 12px;
    overflow: hidden;

}
.left{
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.left i{
    font-size: 65px;
    color: #d4a017;
    margin-bottom: 10px;
}
.left h1{
    font-size: 38px;
    margin-bottom: 10px;
}
.left p{
    font-size: 18px;
    letter-spacing: 1px;
}
.right{
    width: 420px;
    background: white;
    padding: 40px;

}
.right h2{
    text-align: center;
    margin-bottom: 8px;

}
.right p{
    text-align: center;
    color: gray;
    margin-bottom: 25px;
}
.box{
    margin-bottom: 15px;

}
.box input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.checkbox{
    font-size: 14px;
}
