*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0d1117;
}

/* .navbar{
    width:90%;
    height:75px;
    background:#fff;
    margin:30px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
}

.logo h2{
    color:#222;
}

.logo p{
    font-size:12px;
    color:#777;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin:0 15px;
}

.navbar ul li a{
    text-decoration:none;
    color:#222;
    font-weight:bold;
}

.navbar button{
    background:#c9922e;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
} */
 .nav{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edbb50;
    padding: 15px 40px; */
     width: 100%;
    height: 10%;
    background: rgb(225, 212, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;

}

.logo img{
     margin-left: -50px;
    width: 290px;
    height: 66px;
}



.links{
    display: flex;
    align-items: center;
}

.links a{
    /* color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 16px;
} */
 color: #333;
    background: white;
    border: 1px solid;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
}
.links a:hover {
    background-color: #caa961;
    color: white;
    border-color: #c5a561;
}
.links button{
    background-color: rgb(223, 179, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.links button:hover{
    background-color: #a97d21;
    cursor: pointer;
}


.contact-container{
    width:90%;
    margin:auto;
    display:flex;
    background:white;
}

.left-box{
    width:45%;
    background:#111827;
    color:white;
    padding:50px;
}

.left-box h1{
    font-size:42px;
}

.left-box h2{
    color:#c9922e;
    margin:20px 0;
}

.left-box p{
    margin-bottom:20px;
    color:#ddd;
}

.info h3{
    color:#c9922e;
    margin-top:20px;
}

.right-box{
    width:55%;
    padding:50px;
}

.right-box h2{
    margin-bottom:30px;
    color:#222;
}
.login-btn {
    background-color: #c4a664;
    color: white;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

form input,
form textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;
}

form textarea{
    height:150px;
    resize:none;
}

form button{
    width:100%;
    background:#c9922e;
    color:white;
    border:none;
    padding:15px;
    font-size:17px;
    border-radius:5px;
    cursor:pointer;
}

/* .stats{
    width:90%;
    margin:auto;
    background:#0d1117;
    color:white;
    display:flex;
    justify-content:space-around;
    padding:30px;
}

.stats h2{
    color:#c9922e;
    text-align:center;
}

.stats p{
    text-align:center;
    margin-top:8px;
}

@media(max-width:768px){

.contact-container{
    flex-direction:column;
}

.left-box,
.right-box{
    width:100%;
}

.navbar{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.navbar ul{
    flex-wrap:wrap;
    justify-content:center;
    margin:20px 0;
} */

/* .stats{
    flex-direction:column;
    gap:20px;
} */
 .college-stats{
    display: flex;
    width: 100%;
    background: #2d2a23;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: relative;
    border-radius: 8px;
}

.box{
    text-align: center;
}

.box i{
    font-size: 35px;
    color: #f2d09c;
    margin-bottom: 10px;
}

.box h2{
    font-size: 32px;
    margin: 5px 0;
}

.box p{
    font-size: 18px;
    color: #d1d5db;
}